.open-sans-body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    width: 100%;
    /* text-wrap: wrap; */
}

/* styles for header */
.header-container {
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
    background-size: cover;         /* main Div */
    width: 1600px;
    height: 800px;
    margin-top: auto;
    /* text-wrap: wrap; */
}

.header-content{
    margin: 0px 230px 360px 875px;
    text-align: end;               /* Content Div */
    /* text-wrap: wrap; */
    line-height: auto;
}


.header-title{
    font-size: 65px;
    font-weight: 700;              /* H2 title */       
    margin-bottom: 24px;
    padding: 216px 0px 0px 0px;
    color: #FFFFFF;
}

.header-paragraph{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;           /* Paragraph */
    color: #FFFFFF;
    line-height: 26px;
    width: 495px;
    text-align: end;
}


.h-button{
    height: 64px;
    width: 160px;
    background-color: #FFFFFF;
    color: #005FAC;              /* Button */
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
}   /* End of the header */


/* styles for main start */


/* Section 1  start */
.section-1{     
    display: flex;
    /* flex-wrap: wrap; */
    gap: 70px;
    width: 1600px;                   /* Section-1 main class */
    height: 720px;
    margin: 131px 320px 130px 205px; 
}

.s1-div-1{
    width: 50%;
    height: 720px;      /* image div */
    color: #cccccc;
}

.s1-div-2{
    width: 50%;
    height: 400px;  
    text-align: start; 
    margin: 240px 320px 85px 85px;   /* content div */
}

.content-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;  /* H2 header */
    line-height: 47px;
    color: #151414;
}

.content-description{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;  /* Paragraph */
    line-height: 26px;
    color: #444343;
}

.s1-div-2-ul{
    font-size: 16px;
    word-spacing: 10px;     /* ul-unordered list */
    line-height: 26px;
    color: #444343;
    /* margin-right: 30px; */
    
}


.check-mark{
    color: #16D887;      /* check mark */
}
/* End of Section 1 */

/* Section 2 start */
.section-2{
    margin: 0px 230px 130px 230px;     /* Section-2 main class */
}

.s2-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;  /*section title */
    color: #151414;
    margin-bottom: 50px;
}

.s2-div-container{
    display: flex;        /* main div */
    gap: 50px; 
    align-items: center;
    justify-content: center
}

.s2-content-div{
    text-align: center;
}

.content-div-title{
    font-weight: bold;
    font-size: 30px;
    color: #151414;  /* Content Div Title */
}


.content-div-description{
    font-weight: 500;
    font-size: 25px;
    color: #737272;  /* Content Div Description */
}

/* End of Section 2 */


/* Section 3 start */
.section-3{
    margin: 0px 230px 130px 230px;     /* Section-3 main class */
    border-radius: 8px;
    padding: 59px 500px 59px  64px;
    /* border: 1px solid brown; */
    background-image: url('../images/gradient1.png'), url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: left, right;
    background-size: cover;

}

.s3-div-title{
    font-size: 40px;
    font-weight: 700; /* div title */
    margin-bottom: 24px;
    color: #FFFFFF;
    
}

.s3-div-button{
    border-radius: 5px;
    width: 160px;
    height: 64px;
    background-color: #FFFFFF;/* s3-divbutton */
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
}

.s3-div-container{
    text-align: start;
    border-radius: 5px;
    
}

/* End of Section 3 */

/* styles of footer start */
footer{
    background-color: #151414;
    padding: 0px 230px 20px 230px;
}

.footer-container{
    display: flex;
    gap: 330px;
    align-items: top;
  
    
}

/* container-01 styles */
.title{
    font-size: 45px;
    font-weight: 700;
    color: #f8f8f8;
}

.description{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 26px;
    text-align: justify;
}

.footer-image{
    display: flex;
    gap: 16px;       /* div for images */
    align-items: start;
}

.white-color{
    color: #FFFFFF;/* shared colored for unclassified paragraph */
}

/* container-02 styles */
.c-2-title{
    font-size: 45px;
    font-weight: 600;
    color: #FFFFFF;
}

.c2-input-type{
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
    height: 45px;
    width: 325px;
    background-color: #151414;
}

.c2-button{
    background-color: #005FAC;
    color: #FFFFFF;
    height: 45px;
    width: 150px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
}

.container-2{
    margin-top: 130px;
}

.container-1{
    margin-top: 130px;
}

/* styles for copyright */
.copyright{
    text-align: center;
    color: #FFFFFF;
    margin-top: 130px;
}

.copyright-span{
    background-color: crimson;
}

